@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: Lato;
      /* font-weight: 400; */
      src: url('../font/Lato-Medium.ttf') format("ttf");
    }
    @font-face {
      font-family: Lato-Bold;
      font-weight: 500;
      src: url('../font/Lato-Bold.ttf') format("ttf");
    }
  }

body {
    font-family: 'Lato';
}